@charset "utf-8";

#noticia1 {
	
    background-color: #683737;
    border-top: 5px solid #aa7171;
	width: 100%;
	display: flex;
}

#noticia1 #descripcion {
    background-color:#7b6965;
	width: 50%;
	height: 300px;
	
}

#noticia1 #foto {
	background-color: #6b2a12;
	width: 50%;
	height: 300px;
	display: flex;
    align-items: center;
	justify-content: center;
	
}

#noticia1 #foto img {
    width: 95%;
	height: 95%;
	
}

#titulosdelindex {
	color: #fff5dd;
    font-family: sans-serif;
	font-size: 30px;
    text-align: center;
	padding: 15px;
}

h2 {
    color: #bfbdb4;
    font-family: 'Times New Roman', Times, serif;
	font-size: 25px;    
	text-align: center; 
}

p {
	color: #201e1e;
    font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align: center;
    padding: 15px;
}